div {
    padding-bottom: 6px;

}

div textarea {
    outline: none !important;
    box-shadow: 0 0 5px 1px rgb(252, 99, 99);
}

div textarea:hover {
    outline: none !important;
    border: 1px solid rgb(79, 206, 90);
    box-shadow: 0 0 5px;
}

textarea {
    outline: none !important;
    box-shadow: 0 0 5px 1px rgb(72, 196, 201);
    width: 75%;
    height: 250px;

}


button {
    background-color: #f2f2f2bb;
    border: 1px solid #0e1111;
    border-radius: 4px;
    color: #1b1a19;
    font-size: 15px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

button:hover {
    opacity: 1;
}